@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F8F9FF;
}

/******************** Color ********************/
$primary-color: #4D84FE;
$primary-color-hover: #0151fe;
$color-dark-blue: #18284A;;
$color-gray: #959CAE;
$color-dark-gray: #e0e0e0;
$color-red: rgb(239, 68, 68);
$color-green: #4CAF50;
$color-green-hover: #3e8e41;
$color-orange: #fb8c00;
/*******************************************/

.container {
    margin: 0 auto;
}
.title {
    margin-top: 12px;
    
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.error-message {
    margin-bottom: 6px;
    color: $color-red;
    text-align: center;
}

.success-message {
    margin-bottom: 6px;
    color: rgb(22, 163, 74);
    text-align: center;
}

.form {
    padding: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    input, select {
        padding: 12px;

        background-color: #fff;
        outline: none;
        border: 2px solid rgb(229, 231, 235);
        border-radius: 4px;
        transition: all ease 0.3s;

        &:focus {
            border-color: $primary-color;
        }
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
.btn {
    background-color: $primary-color;
    padding: 12px 0;
    color: #fff;

    border-radius: 4px;
    transition: all ease 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $primary-color-hover;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

// Animation
.fadeIn {
    animation: fadeIn linear 0.3s;
}
.fadeOut {
    animation: fadeOut linear 0.3s
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// Responsive
@media screen and (min-width: 1200px) {
    .container {
        width: 50% !important;
        margin: 0 auto;
    }
}